<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>QnA Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles2.css">
  </head>

  <body>

   <div class="main">
     <div class='box'>
       <div class='wave -one'></div>
       <div class='wave -two'></div>
       <div class='wave -three'></div>
       <div class='title'>WeCBR QnA</div>
     </div>

      <form class="form-signin" action="/signin" method="post">
        <div class="singIn">
          <img class="logo" src="/images/logo.png" style="border-radius:100%" height="70" width="70" alt="logo">
          <div class="row" >
                  <label class="labels">Username: </label>
                  <input  class="form-control " type="text" name="userName" value="" placeholder="Your Username">
           </div>
           <div class="row">
             <label class="labels">Password: </label>
             <input  class="form-control" type="password" name="password" value="" placeholder="Password">
           </div>

           <button class="btn btn-md submitData" type="submit" name="button">Sign In</button>
        </div>


       </form>
   </div>


  </body>

  </html>
